@import './_variables.scss';

@mixin regular-text {
    text-align: center;
    font-size: 200px;
}

h2 {
    @include regular-text;
    p {
        font-size: 50px;
        color: $primary-color;
    }
}